<!DOCTYPE html>
<html>

<head>
    <title>PDF</title>
    <meta charset="utf-8">
    <link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico' />
    <link href="fonts/stylesheet.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="style.css">
</head>

<body style="font-family: GT Walsheim Pro, Arial, sans-serif; font-size:10px;  margin: 0; line-height: 1.5;">
    <div>
        <img src="https://i.yapx.ru/ULz0U.png" alt="" width="790px" style="position: relative;">

        <div style="width: 720px; height: 1141px; position: absolute; top: 0; padding: 0 35px; ">
            <div style="padding-left: 70%; padding-top: 7%; font-size: 12px; line-height: 18px; color: gray; "> <b style="font-size: 20px; font-weight: 200; color: gray;">Invoice from:</b>
                <br>
                <b style="margin: 0; font-size: 13px; font-weight: 500; color:darkblue;"><%=company%></b>
                <br>
                <b style="font-weight: normal;"><%=address%></b>
                <br>
                <b style="font-weight: normal;"><%=email%></b>
                <br>
                <b style="font-weight: normal;"><%=tel%></b>

            </div>

            <div style="padding-left: 580px; padding-top: 23px; font-size: 20px; color: darkblue;">
                <b><%=number%></b>
            </div>

            <div style="padding-top: 10px; padding-bottom: 22px; font-size: 12px; color: gray;">
                <b style="font-size: 14px; font-weight: 500; color: gray;">Bill to:</b> <b style="font-size: 13px; font-weight: 700; color: darkslategray;"><%=billto%></b>
                <br> <b style="font-size: 13px; font-weight: 400;">Russia, 197022, St. Petersburg,</b>
                <br> <b style="font-size: 13px; font-weight: 400;">Aptekarskaya emb. 20, office 203</b>
                <br> <b style="font-size: 13px; font-weight: 400;">Tel. + 7 (812) 335-10-03</b>
            </div>


            <div style="position:absolute; left: 66%; top: 21%; font-size: 13px; line-height: 18px; color: gray;"> <b style="float: right; font-weight: 300;">Invoice date</b>
                <br>
                <b style="margin: 0;  font-weight: 500; color:darkblue;">26 Sep 2022</b>
            </div>

            <div style="position:absolute; left: 79%; top: 21%; font-size: 13px; line-height: 18px; color: gray;"> <b style="font-weight: 300;">Free cancel before
            </b>
                <br>
                <b style="margin: 0;  font-weight: 500; color:darkblue;">03 Oct 2022</b>
            </div>

            <div>
                <table width="100%" cellpadding="8px" style="padding-top: 21px; border-collapse: collapse;">
                    <tr>
                        <td colspan="2" style="font-size: 14px; font-weight: 400; color: gray; text-align: center;">DATE</td>
                        <td colspan="2" style=" font-size: 14px; font-weight: 400; color: gray;text-align: center;">ITEM DESCRIPTION</td>
                        <td colspan="2" style="font-size: 14px; font-weight: 400; color: gray;text-align: center;">PRICE</td>
                        <td colspan="2" style="font-size: 14px; font-weight: 400; color: gray;text-align: center;">QTY</td>
                        <td colspan="2" style="font-size: 14px; font-weight: 400; color: gray;text-align: center;">TOTAL</td>
                    </tr>
                    <tr style="border-bottom: 1px solid lightgrey;">
                        <td colspan="2" style="font-size: 14px; font-weight: 400; white-space: nowrap; color: gray; text-align: center;"><%=item1[0]%></td>
                        <td colspan="2" style=" font-size: 14px;font-weight: 400;  color: darkblue; ">
                            <%=item1[1]%>
                                <br>
                                <%=item1[2]%>
                        </td>
                        <td colspan="2" style="font-size: 14px;font-weight: 400; white-space: nowrap; color: gray;text-align: center;">$
                            <%=item1[3]%>
                        </td>
                        <td colspan="2" style="font-size: 14px;font-weight: 400; white-space: nowrap; color: gray;text-align: center;">
                            <%=item1[4]%>
                        </td>
                        <td colspan="2" style="font-size: 14px;font-weight: 400; white-space: nowrap; color: darkblue;text-align: center;">$
                            <%=item1[3]*item1[4]%>
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid lightgrey;">
                        <td colspan="2" style="font-size: 14px; font-weight: 400;white-space: nowrap; color: gray; text-align: center;"><%=item2[0]%></td>
                        <td colspan="2" style="font-size: 14px;font-weight: 400; color: darkblue;">
                            <%=item2[1]%>
                                <br>
                                <%=item2[2]%>
                        </td>
                        <td colspan="2" style="font-size: 14px;font-weight: 400; white-space: nowrap; color: gray;text-align: center;">$
                            <%=item2[3]%>
                        </td>
                        <td colspan="2" style="font-size: 14px;font-weight: 400; white-space: nowrap; color: gray;text-align: center;">
                            <%=item2[4]%>
                        </td>
                        <td colspan="2" style="font-size: 14px;font-weight: 400; white-space: nowrap; color: darkblue;text-align: center;">$
                            <%=item2[3]*item2[4]%>
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid lightgrey;">
                        <td colspan="2" style="font-size: 14px; font-weight: 400; white-space: nowrap; color: gray; text-align: center;"><%=item3[0]%></td>
                        <td colspan="2" style=" font-size: 14px;font-weight: 400; color: darkblue;">
                            <%=item3[1]%>
                                <br>
                                <%=item3[2]%>
                        </td>
                        <td colspan="2" style="font-size: 14px;font-weight: 400; white-space: nowrap; color: gray;text-align: center;">$
                            <%=item3[3]%>
                        </td>
                        <td colspan="2" style="font-size: 14px;font-weight: 400; white-space: nowrap; color: gray;text-align: center;">
                            <%=item3[4]%>
                        </td>
                        <td colspan="2" style="font-size: 14px;font-weight: 400; white-space: nowrap; color: darkblue;text-align: center;">$
                            <%=item3[3]*item3[4]%>
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid lightgrey;">
                        <td colspan="2" style="font-size: 14px; font-weight: 400; white-space: nowrap; color: gray; text-align: center;"><%=item4[0]%></td>
                        <td colspan="2" style=" font-size: 14px;font-weight: 400; color: darkblue;">
                            <%=item4[1]%>
                                <br>
                                <%=item4[2]%>
                        </td>
                        <td colspan="2" style="font-size: 14px;font-weight: 400; white-space: nowrap; color: gray;text-align: center;">$
                            <%=item4[3]%>
                        </td>
                        <td colspan="2" style="font-size: 14px;font-weight: 400; white-space: nowrap; color: gray;text-align: center;">
                            <%=item4[4]%>
                        </td>
                        <td colspan="2" style="font-size: 14px;font-weight: 400; white-space: nowrap; color: darkblue;text-align: center;">$
                            <%=item4[3]*item4[4]%>
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid lightgrey;">
                        <td colspan="2" style="font-size: 14px; font-weight: 400; white-space: nowrap; color: gray; text-align: center;"><%=item5[0]%></td>
                        <td colspan="2" style=" font-size: 14px;font-weight: 400; color: darkblue;">
                            <%=item5[1]%>
                        </td>
                        <td colspan="2" style="font-size: 14px;font-weight: 400; white-space: nowrap; color: gray;text-align: center;">$
                            <%=item5[3]%>
                        </td>
                        <td colspan="2" style="font-size: 14px;font-weight: 400; white-space: nowrap; color: gray;text-align: center;">
                            <%=item5[4]%>
                        </td>
                        <td colspan="2" style="font-size: 14px;font-weight: 400; white-space: nowrap; color: darkblue;text-align: center;">$
                            <%=item5[3]*item5[4]%>
                        </td>
                    </tr>
                </table>

            </div>

            <div style="position: absolute; bottom: 16%; padding: 0 8px; color: gray;">
                <b style="padding-right: 90px; font-size: 18px; font-weight: 500;">PAYMENT DETAILS</b>
                <b style="font-size: 12px; font-weight: 400;">All prices stated in United States Dollars</b>
            </div>

            <div style="position: absolute; bottom: 4%;">
                <table cellpadding="0">
                    <tr>
                        <td style="text-align: right;"><b style=" font-size: 13px; font-weight: 400; color: gray;">Account USD:</b> </td>
                        <td><b style="padding-left: 4px; font-size: 13px; font-weight: 700; color: darkblue;"><%=accountusd%></b></td>
                    </tr>
                    <tr>
                        <td style="text-align: right;"><b style="font-size: 13px; font-weight: 400; color: gray;">Account name:</b></td>
                        <td> <b style="padding-left: 4px;font-size: 13px; font-weight: 400; color: darkblue;"><%=accountname%></b></td>
                    </tr>
                    <tr>
                        <td style="text-align: right;"><b style="font-size: 13px; font-weight: 400; color: gray;">Bank name:</b></td>
                        <td><b style="padding-left: 4px;font-size: 13px; font-weight: 400; color: darkblue;"><%=bankname%></b></td>
                    </tr>
                    <tr>
                        <td style="text-align: right;"><b style="font-size: 13px; font-weight: 400; color: gray;">Bank address:</b></td>
                        <td><b style="padding-left: 4px;font-size: 13px; font-weight: 400; color: darkblue;"><%=bankaddress%></b></td>
                    </tr>
                    <tr>
                        <td style="text-align: right;"><b style="font-size: 13px; font-weight: 400; color: gray;">Swift code:</b></td>
                        <td><b style="padding-left: 4px;font-size: 13px; font-weight: 400; color: darkblue;"><%=swiftcode%></b></td>
                    </tr>

                </table>
            </div>

            <div style="position: absolute; bottom: 13%; right: 7%">
                <b style="font-size: 40px; font-weight: 200; color: gray;">$</b>
                <b style="font-size: 40px; color: darkblue;"><%=item1[3]*item1[4]+item2[3]*item2[4]+item3[3]*item3[4]+item4[3]*item4[4]+item5[3]*item5[4]%></b><b style="font-size: 25px; color: darkblue;">.00</b>
            </div>


            <div style="position:absolute; bottom: 10.2%; right: 9%; font-size: 13px; line-height: 18px; color: gray;">
                <b style="padding-right:18px; font-weight: 300;">Pay before</b>
                <b style="margin: 0;  font-weight: 500; color:darkblue;"><%=paybefore%></b>
            </div>

            <div style="position:absolute; bottom: 3%; right: 7%;">
                <b style="font-size: 40px; font-weight: 400; color: gray;">Thank you</b>
            </div>
        </div>

    </div>

</body>

</html>